﻿@model EcmsModels.DataModels.CouponArchive

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CouponArchive</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BatchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RedemptionPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedemptionPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RedeemedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedeemedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonCancelled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonCancelled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelledBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelledBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Denomination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denomination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CouponIssuerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponIssuerId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
