﻿@model IEnumerable<EcmsModels.DataModels.CouponArchive>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BatchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RedemptionPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RedeemedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReasonCancelled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CancelledBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubSectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Denomination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouponIssuerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BatchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RedemptionPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RedeemedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReasonCancelled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CancelledBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubSectionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Denomination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouponIssuerId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
