﻿@model EcmsModels.DataModels.GeneratorModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GeneratorModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuelType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratorMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratorMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceInterval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceInterval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratorSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratorSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormalLifeSpan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormalLifeSpan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormalConsuptionRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormalConsuptionRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disabled)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
