﻿@model EcmsModels.DataModels.GeneratorModel

@{
    ViewBag.Title = "Generator Model Details";
}

<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuelType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratorMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratorMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceInterval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceInterval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratorSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratorSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormalLifeSpan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormalLifeSpan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormalConsuptionRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormalConsuptionRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disabled)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
