﻿@model IEnumerable<EcmsModels.DataModels.GeneratorModel>

@{
    ViewBag.Title = "Generator Models";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FuelType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneratorMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceInterval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneratorSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormalLifeSpan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormalConsuptionRate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Disabled)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneratorMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceInterval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneratorSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalLifeSpan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalConsuptionRate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Disabled)
            </td>*@
            <td>
                @Html.ActionLink("  ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" })
            </td>
        </tr>
    }

</table>
