﻿@model EcmsModels.DataModels.FuelInventoryAdjustment
@using EcmsBusinessLogic

@{
    ViewBag.Title = "Approve Invetory Adjustment";
}

<h4><em>Are you sure you want to approve this adjustment?</em></h4>
<div>
    @*<h4>@ViewBag.Title</h4>*@
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" })
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => model.InventoryItem.Notes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdjustmentType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdjustmentType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdjustmentQuantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdjustmentQuantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdjustmentReason)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdjustmentReason)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InitiatedBy)
            </dt>

            <dd>
                @{ var InitiatedBy = new EcmsModels.WebModels.ApplicationUser().GetByUsername(User.Identity.Name); var Initiator = InitiatedBy.FullName + " <" + InitiatedBy.Email + ">"; @Html.DisplayFor(modelItem => Initiator) }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateInitiated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateInitiated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Actioned)
            </dt>

            <dd>
                @Html.CheckBoxFor(model => model.Actioned, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ActionedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActionedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateActioned)
            </dt>

            <dd>
                @if (Model.DateActioned != DateTime.MinValue.ConvertToDbMinDate())
                {
                    @Html.DisplayFor(model => model.DateActioned)
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Approve" class="btn btn-success" />
            </div>

        }
    </div>
</div>