﻿@model EcmsModels.DataModels.FuelInventoryAdjustment
@using  EcmsBusinessLogic
@{
    ViewBag.Title = "Inventory Adjustment Details";
}

<div>
    @*<h4>@ViewBag.Title</h4>*@
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" })
        @if (Model.Actioned != true)
        {
            <i>|</i>
            @Html.ActionLink("  ", "Approve", new { id = Model.Id }, new { @class = "fa fa-thumbs-o-up" });
            <i>|</i>
            @Html.ActionLink("  ", "Reject", new { id = Model.Id }, new { @class = "fa fa-thumbs-o-down" });
            <i>|</i>
            @Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "fa fa-pencil" })
            <i>|</i>
            @Html.ActionLink("  ", "Delete", new { id = Model.Id }, new { @class = "fa fa-trash" });
        }
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.InventoryItem.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdjustmentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdjustmentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdjustmentQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdjustmentQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdjustmentReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdjustmentReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitiatedBy)
        </dt>

        <dd>
            @{ var InitiatedBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(Model.InitiatedBy); var Initiator = InitiatedBy.FullName + " <" + InitiatedBy.Email + ">"; @Html.DisplayFor(modelItem => Initiator) }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateInitiated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateInitiated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actioned)
        </dt>

        <dd>
            @Html.CheckBoxFor(model => model.Actioned, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.CheckBoxFor(model => model.Approved, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionedBy)
        </dt>

        <dd>
            @{ if (Model.Actioned == true)
            {
                var ActionedBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(Model.ActionedBy); var Actioner = ActionedBy.FullName + " <" + ActionedBy.Email + ">"; @Html.DisplayFor(modelItem => Actioner)
        }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateActioned)
        </dt>

        <dd>
            @if (Model.Actioned == true)
        {
            @Html.DisplayFor(model => model.DateActioned)
    }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
