﻿@model IEnumerable<EcmsModels.DataModels.FuelInventoryAdjustment>

@{
    ViewBag.Title = "Inventory Adjustments";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.DateInitiated)*@ Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelSourceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdjustmentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdjustmentQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitiatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actioned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @{ var DateInitiated = item.DateInitiated.ToString(); @Html.DisplayFor(modelItem => DateInitiated) }
        </td>

        <td>
            @{ var FuelSource = new EcmsModels.DataModels.EcmsDbContext().FuelSource.Find(item.FuelSourceId).Name; @Html.DisplayFor(modelItem => FuelSource) }
        </td>
        <td>
            @{ var FuelType = new EcmsModels.DataModels.EcmsDbContext().FuelType.Find(item.FuelTypeId).Name; @Html.DisplayFor(modelItem => FuelType) }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @{ var Period = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Period); }@Html.DisplayFor(modelItem => Period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdjustmentType)
        </td>
        <td>
            @{ var Quantity = item.AdjustmentQuantity.ToString("N0"); @Html.DisplayFor(modelItem => Quantity) }
        </td>
        <td>
            @{ var InitiatedBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(item.InitiatedBy); var Initiator = InitiatedBy.FullName + " <" + InitiatedBy.Email + ">"; @Html.DisplayFor(modelItem => Initiator) }
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.Actioned, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.Approved, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
        </td>

        <td>
            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" })
            @{ if (item.Actioned != true)
            {
                <i>|</i>
                @Html.ActionLink("  ", "Approve", new { id = item.Id }, new { @class = "fa fa-thumbs-o-up" });
            <i>|</i>
            @Html.ActionLink("  ", "Reject", new { id = item.Id }, new { @class = "fa fa-thumbs-o-down" });
        <i>|</i>
        @Html.ActionLink("  ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" });
    <i>|</i>
    @Html.ActionLink("  ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash" });
}
            }
        </td>
    </tr>
    }

</table>
