﻿@model IEnumerable<EcmsModels.DataModels.FuelSource>

@{
    ViewBag.Title = "Fuel Stores";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FuelSourceStatus.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelSourceType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Disabled)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FuelSourceStatus.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelSourceType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellNumber)
            </td>

            <td>
                @Html.CheckBoxFor(model => item.Disabled, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>*@
            <td>
                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" }) |
                @Html.ActionLink("  ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" })
            </td>
        </tr>
    }

</table>
