﻿@model EcmsModels.WebModels.ForgotPasswordViewModel
@{
    Layout = "../Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Forgot password?";
}

<a class="hiddenanchor" id="signup"></a>
<a class="hiddenanchor" id="signin"></a>

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1>@ViewBag.Title</h1>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                <button type="submit" class="btn btn-default">Send Reset Link</button>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
