﻿@using EcmsModels.WebModels
@model LoginViewModel
@{
    Layout = "../Shared/_SimpleLayout.cshtml";
    ViewBag.Title = "Sign in";
}

<a class="hiddenanchor" id="signup"></a>
<a class="hiddenanchor" id="signin"></a>

<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h1>@ViewBag.Title</h1>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div>
            <div class="icheckbox_flat-grey">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <button type="submit" class="btn btn-success form-control">Sign in</button>
        </div>
        <div class="clearfix"></div>
        <p class="change_link">
            @Html.ActionLink("Forgot your password?", "ForgotPassword", new { @class = "reset_pass" })
        </p>
        <div class="separator">
            <div>
                <a style="text-decoration: none" href="https://drive.google.com/open?id=1Z8-agF6ZC9Il9cen8BtMwF7etilfvsOi" target="_blank" class="btn btn-info"><i></i>Download Android App</a>
            </div>
            <hr />
            <div>
                <h2><i class="fa fa-leaf"></i> Energy Consumption Monitoring System</h2>
                <img src="~/Content/images/logo.png" style="height: 55px; width: 100px" />
                <hr />
                <p>&copy; @DateTime.Now.Year All Rights Reserved. James Taruvinga</p>
            </div>
        </div>
}
        </section>
        </div>
    </div>


                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
