﻿@model IEnumerable<EcmsModels.DataModels.GeneratorStatus>

@{
                /**/

                ViewBag.Title = "Generator Statuses";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Disabled)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Notes)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.Disabled)
    </td>*@
    <td>
        @Html.ActionLink("  ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" })
    </td>
</tr>
}

</table>
