﻿@model EcmsModels.DataModels.VehicleServiceHistory

@{
    ViewBag.Title = "Vehicle Service Details";
}

<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServicedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { generatorId = Model.VehicleId, serviceDate = Model.DateServiced.ToString("yyyy/MM/dd HH:mm:ss") }) |
    @Html.ActionLink("Back to List", "Index")
</p>
