﻿@model IEnumerable<EcmsModels.DataModels.VehicleServiceHistory>

@{
    ViewBag.Title = "Vehicle Servicing";
}


@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateServiced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicedBy)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LoggedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateServiced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobCardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicedBy)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LoggedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>*@
        <td>
            @Html.ActionLink("  ", "Details", new { vehicleId = item.VehicleId, serviceDate = item.DateServiced.ToString("yyyy/MM/dd HH:mm:ss") }, new { @class = "fa fa-search-plus" })  |
            @Html.ActionLink("  ", "Edit", new { vehicleId = item.VehicleId, serviceDate = item.DateServiced.ToString("yyyy/MM/dd HH:mm:ss") }, new { @class = "fa fa-pencil" })

        </td>
    </tr>
    }

</table>
