﻿@model EcmsModels.DataModels.CouponsBatchTransfer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CouponsBatchTransfer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CouponsBatch.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponsBatch.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTransferred)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTransferred)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderSubSectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderSubSectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverSubSectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverSubSectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferredBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
