﻿@model EcmsModels.DataModels.CouponsBatchTransfer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CouponsBatchTransfer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CouponsBatch.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponsBatch.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTransferred)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTransferred)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderSubSectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderSubSectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverSubSectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverSubSectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferredBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BatchId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
