﻿@model IEnumerable<EcmsModels.DataModels.CouponsBatchTransfer>

@{
    ViewBag.Title = "Coupon Batch Transfers";
    var db = new EcmsModels.DataModels.EcmsDbContext();
}

@*<h4>@ViewBag.Title</h4>*@

    <p>
        @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CouponsBatch.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTransferred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderSubSectionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverSubSectionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransferredBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedBy)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CouponsBatch.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTransferred)
            </td>
            <td>@{ 
                var senderSubSection = db.SubSection.Find(item.SenderSubSectionId);
                @Html.DisplayFor(modelItem => senderSubSection.Name)
            }
            </td>
            <td>@{ 
                var receiverSubSection = db.SubSection.Find(item.ReceiverSubSectionId);
                @Html.DisplayFor(modelItem => receiverSubSection.Name)
                }
            </td>
            <td>
                @{ 
                    var sender = db.Users.Find(item.TransferredBy);
                @Html.DisplayFor(modelItem => sender.FullName)
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceived)
            </td>
            <td>
                @{
        var receiver = db.Users.Find(item.ReceivedBy);
            @Html.DisplayFor(modelItem => receiver.FullName)
                }
            </td>
            <td>
                @Html.ActionLink(" ", "Receive", new { batchId = item.CouponsBatch.Id, transferDate = item.DateTransferred.ToString("yyyy/MM/dd HH:mm:ss") }, new { @class = "fa fa-download" })

            </td>
        </tr>
        }

    </table>
