﻿@model EcmsModels.DataModels.CouponsBatchTransfer

@{
    ViewBag.Title = "Receive Coupons Batch";
    var db = new EcmsModels.DataModels.EcmsDbContext();
}

<div>
    <h4><em>Are you sure you want to receive this transfer?</em></h4>
    <div>
        @*<h4>@ViewBag.Title</h4>*@
    </div>
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CouponsBatch.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CouponsBatch.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateTransferred)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateTransferred)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SenderSubSectionId)
            </dt>

            <dd>
                @{
                    var senderSubSection = db.SubSection.Find(Model.SenderSubSectionId);
                    @Html.DisplayFor(modelItem => senderSubSection.Name)
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReceiverSubSectionId)
            </dt>

            <dd>
                @{
                    var receiverSubSection = db.SubSection.Find(Model.ReceiverSubSectionId);
                    @Html.DisplayFor(modelItem => receiverSubSection.Name)
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateReceived)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateReceived)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TransferredBy)
            </dt>

            <dd>
                @{
                    var sender = db.Users.Find(Model.TransferredBy);
                    @Html.DisplayFor(modelItem => sender.FullName)
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReceivedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReceivedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

        </dl>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.BatchId)
    @Html.HiddenFor(model => model.DateTransferred)
    @Html.HiddenFor(model => model.SenderSubSectionId)
    @Html.HiddenFor(model => model.ReceiverSubSectionId)
    @Html.HiddenFor(model => model.Notes)

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Receive" class="btn btn-success" />
    </div>

}
