﻿@model EcmsModels.DataModels.ElectricityTokenIssue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ElectricityTokenIssue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ElectricityPurchas.ReceiptNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricityPurchas.ReceiptNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectricityRecharge.MeterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricityRecharge.MeterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectricityRequest.RequestedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricityRequest.RequestedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateIssued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateIssued)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
