﻿@model IEnumerable<EcmsModels.DataModels.ElectricityTokenIssue>

@{
    ViewBag.Title = "Electricity Token Issues";
}

<h4>@ViewBag.Title</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityPurchases.ReceiptNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityRecharge.MeterId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityRequest.RequestedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateIssued)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ElectricityPurchases.ReceiptNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectricityRecharge.MeterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectricityRequest.RequestedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateIssued)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
