﻿@model EcmsWebApplication.Models.DepartmentViewModel

@{
    Layout = null;
}

<div class="form-group">
    @Html.Label("Department", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(p => p.SelectedDepartmentId, Model.EntitySelectList, string.Empty, new { @id = "Department", @class = "form-control"})
    </div>
</div>

