﻿@model EcmsWebApplication.Models.SubZoneViewModel

@{
    Layout = null;
}
<div class="form-group">
    @Html.Label("Sub Zone", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(p => p.SelectedSubZoneId, Model.EntitySelectList, string.Empty, new { @id = "SubZone", @class = "form-control" })
    </div>
</div>