﻿@model EcmsWebApplication.Models.SubSectionViewModel

@{
    Layout = null;
}
<div class="form-group">
    @Html.Label("Sub Section", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(p => p.SelectedSubSectionId, Model.EntitySelectList, string.Empty, new { @id = "SubSection", @class = "form-control" })
    </div>
</div>