﻿@model IEnumerable<EcmsModels.DataModels.FuelSourceType>

@{
    ViewBag.Title = "Fuel Store Types";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disabled)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.CheckBoxFor(model => item.Disabled, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
            </td>
            <td>
                @Html.ActionLink("  ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" })   |
                @Html.ActionLink("  ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" })
            </td>
        </tr>
    }

</table>
