﻿@import url('../bower_components/gentelella/build/css/custom.css');
body {
    color: #73879C;
    background: #ffffff;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471
}
table.dataTable thead .sorting:after {
    /*opacity: 0.2;*/
    content: " "
    /*content: "\e150";*/
    /* sort */
}

table.dataTable thead .sorting_asc:after {
    content: " "
    /*content: "\e155";*/
    /* sort-by-attributes */
}

table.dataTable thead .sorting_desc:after {
    content: " "
    /*content: "\e156";*/
    /* sort-by-attributes-alt */
}

.dt-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.dt-button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dt-button:hover,
.dt-button:focus {
  color: #333333;
  text-decoration: none;
}

.dt-button:active,
.dt-button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.dt-button.disabled,
.dt-button[disabled],
fieldset[disabled] .dt-button {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.buttons-copy {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.buttons-copy:hover,
.buttons-copy:focus,
.buttons-copy:active,
.buttons-copy.active,
.open .dropdown-toggle.buttons-copy {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.buttons-copy:active,
.buttons-copy.active,
.open .dropdown-toggle.buttons-copy {
  background-image: none;
}

.buttons-copy.disabled,
.buttons-copy[disabled],
fieldset[disabled] .buttons-copy,
.buttons-copy.disabled:hover,
.buttons-copy[disabled]:hover,
fieldset[disabled] .buttons-copy:hover,
.buttons-copy.disabled:focus,
.buttons-copy[disabled]:focus,
fieldset[disabled] .buttons-copy:focus,
.buttons-copy.disabled:active,
.buttons-copy[disabled]:active,
fieldset[disabled] .buttons-copy:active,
.buttons-copy.disabled.active,
.buttons-copy[disabled].active,
fieldset[disabled] .buttons-copy.active {
  background-color: #428bca;
  border-color: #357ebd;
}

.paginate_button {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.paginate_button:hover,
.paginate_button:focus,
.paginate_button:active,
.paginate_button.active,
.open .dropdown-toggle.paginate_button {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}

.paginate_button:active,
.paginate_button.active,
.open .dropdown-toggle.paginate_button {
  background-image: none;
}

.paginate_button.disabled,
.paginate_button[disabled],
fieldset[disabled] .paginate_button,
.paginate_button.disabled:hover,
.paginate_button[disabled]:hover,
fieldset[disabled] .paginate_button:hover,
.paginate_button.disabled:focus,
.paginate_button[disabled]:focus,
fieldset[disabled] .paginate_button:focus,
.paginate_button.disabled:active,
.paginate_button[disabled]:active,
fieldset[disabled] .paginate_button:active,
.paginate_button.disabled.active,
.paginate_button[disabled].active,
fieldset[disabled] .paginate_button.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.buttons-pdf {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.buttons-pdf:hover,
.buttons-pdf:focus,
.buttons-pdf:active,
.buttons-pdf.active,
.open .dropdown-toggle.buttons-pdf {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.buttons-pdf:active,
.buttons-pdf.active,
.open .dropdown-toggle.buttons-pdf {
  background-image: none;
}

.buttons-pdf.disabled,
.buttons-pdf[disabled],
fieldset[disabled] .buttons-pdf,
.buttons-pdf.disabled:hover,
.buttons-pdf[disabled]:hover,
fieldset[disabled] .buttons-pdf:hover,
.buttons-pdf.disabled:focus,
.buttons-pdf[disabled]:focus,
fieldset[disabled] .buttons-pdf:focus,
.buttons-pdf.disabled:active,
.buttons-pdf[disabled]:active,
fieldset[disabled] .buttons-pdf:active,
.buttons-pdf.disabled.active,
.buttons-pdf[disabled].active,
fieldset[disabled] .buttons-pdf.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.buttons-excel {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.buttons-excel:hover,
.buttons-excel:focus,
.buttons-excel:active,
.buttons-excel.active,
.open .dropdown-toggle.buttons-excel {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}

.buttons-excel:active,
.buttons-excel.active,
.open .dropdown-toggle.buttons-excel {
  background-image: none;
}

.buttons-excel.disabled,
.buttons-excel[disabled],
fieldset[disabled] .buttons-excel,
.buttons-excel.disabled:hover,
.buttons-excel[disabled]:hover,
fieldset[disabled] .buttons-excel:hover,
.buttons-excel.disabled:focus,
.buttons-excel[disabled]:focus,
fieldset[disabled] .buttons-excel:focus,
.buttons-excel.disabled:active,
.buttons-excel[disabled]:active,
fieldset[disabled] .buttons-excel:active,
.buttons-excel.disabled.active,
.buttons-excel[disabled].active,
fieldset[disabled] .buttons-excel.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.buttons-csv {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.buttons-csv:hover,
.buttons-csv:focus,
.buttons-csv:active,
.buttons-csv.active,
.open .dropdown-toggle.buttons-csv {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}

.buttons-csv:active,
.buttons-csv.active,
.open .dropdown-toggle.buttons-csv {
  background-image: none;
}

.buttons-csv.disabled,
.buttons-csv[disabled],
fieldset[disabled] .buttons-csv,
.buttons-csv.disabled:hover,
.buttons-csv[disabled]:hover,
fieldset[disabled] .buttons-csv:hover,
.buttons-csv.disabled:focus,
.buttons-csv[disabled]:focus,
fieldset[disabled] .buttons-csv:focus,
.buttons-csv.disabled:active,
.buttons-csv[disabled]:active,
fieldset[disabled] .buttons-csv:active,
.buttons-csv.disabled.active,
.buttons-csv[disabled].active,
fieldset[disabled] .buttons-csv.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
