﻿@model EcmsModels.DataModels.CouponsBatch

@{
    ViewBag.Title = "Coupons Batch Details";
}

<div>
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" }) |
        @Html.ActionLink(" ", "ChildIndex", new { id = Model.Id }, new { @class = "fa fa-level-down" }) |
        @Html.ActionLink(" ", "Details", new { id = Model.ParentBatchId }, new { @class = "fa fa-level-up" })
        @{
            var user = new EcmsModels.WebModels.ApplicationUser().GetByUsername(User.Identity.Name);
            if (user.SubSectionId == Model.SubSectionId && !Model.IsArchivable && !Model.IsInTransit)
            {
        <i> | </i>
        @Html.ActionLink(" ", "DirectCreate", new { subSectionId = user.SubSectionId, id = Model.Id }, new { @class = "fa fa-bolt" })
                } 
            }

    </div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParentBatchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentBatchId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubSection.Section.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSection.Section.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSection.Section.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSection.Section.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSection.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSection.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentBatch.CouponIssuer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentBatch.CouponIssuer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CouponBatchStatus.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponBatchStatus.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Denomination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denomination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchSize)
        </dd>

        <dt>
            Balance
        </dt>

        <dd>
            @{
            var balance = Model.Denomination * Model.BatchSize;
            var stringBalance = balance.ToString("N0");
            @Html.DisplayFor(model => stringBalance)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CouponIssuer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponIssuer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @{ var CreatedBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(Model.CreatedBy); var Initiator = CreatedBy.FullName + " <" + CreatedBy.Email + ">"; @Html.DisplayFor(modelItem => Initiator) }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsInTransit)
        </dt>
        <dd>
            @Html.CheckBoxFor(model => model.IsInTransit, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsArchivable)
        </dt>
        <dd>
            @Html.CheckBoxFor(model => model.IsArchivable, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
    </div>
