﻿@model IEnumerable<EcmsModels.DataModels.CouponsBatch>

@{
    ViewBag.Title = "Coupon Batches";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @{
        var user = new EcmsModels.WebModels.ApplicationUser().GetByUsername(User.Identity.Name);
        @Html.ActionLink(" ", "Create", new { subSectionId = user.SubSectionId }, new { @class = "fa fa-plus" })
        if (User.IsInRole(EcmsModels.ViewModels.DefaultValues.DefaultCouponStoresControllerRole))
        {
            <i> | </i>
            @Html.ActionLink(" ", "StockIn", null, new { @class = "fa fa-truck" })
        }
}
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ParentBatch.Id)*@Parent Batch
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Denomination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponIssuer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubSection.Section.Department.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubSection.Section.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubSection.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInTransit)
            </th>
            <th></th>
</thead>

    @foreach (var item in Model)
    {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentBatch.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Denomination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponIssuer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubSection.Section.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubSection.Section.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubSection.Name)
            </td>
            <td>
                @Html.CheckBoxFor(model => item.IsInTransit, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
            </td>
            <td>
                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" }) |
                @Html.ActionLink(" ", "ChildIndex", new { id = item.Id }, new { @class = "fa fa-level-down" }) |
                @Html.ActionLink(" ", "Details", new { id = item.ParentBatchId }, new { @class = "fa fa-level-up" })
            @if (user.SubSectionId == item.SubSectionId && !item.IsArchivable && !item.IsInTransit)
            {
                <i> | </i>
                @Html.ActionLink(" ", "DirectCreate", new { subSectionId = user.SubSectionId, id = item.Id }, new { @class = "fa fa-bolt" })
                }
            </td>
        </tr>
    </tbody>
    }

</table>
