﻿@model EcmsModels.DataModels.ElectricityPurchases

@{
    ViewBag.Title = "Electricity Purchase Details";
}

<h2>Details</h2>

<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeterNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeterNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tariff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tariff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnergyBought)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnergyBought)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenderAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenderAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnergyCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnergyCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DebtCollected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebtCollected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReLevy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReLevy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DebtBalBf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebtBalBf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DebtBalCf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DebtBalCf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorNumberAndName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorNumberAndName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorInfo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorInfo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorInfo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorInfo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorInfo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorInfo3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TariffIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TariffIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplyGroupCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplyGroupCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeyRevNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeyRevNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoughtBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoughtBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorisedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorisedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
