﻿@model IEnumerable<EcmsModels.DataModels.ElectricityPurchases>

@{
    ViewBag.Title = "Electricity Purchases";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeterNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Token)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tariff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnergyBought)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenderAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnergyCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebtCollected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReLevy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VatRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VatAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebtBalBf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebtBalCf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorNumberAndName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorInfo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorInfo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorInfo3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TariffIndex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplyGroupCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyRevNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoughtBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorisedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeterNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Token)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tariff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnergyBought)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenderAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnergyCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebtCollected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReLevy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VatRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VatAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebtBalBf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebtBalCf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorNumberAndName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorInfo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorInfo2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorInfo3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TariffIndex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplyGroupCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeyRevNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoughtBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorisedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
