﻿@model EcmsModels.DataModels.FuelUpGenerator

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FuelUpGenerator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Drawdown.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drawdown.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Generator.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Generator.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LevelBefore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelBefore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LevelAfter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelAfter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursRun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursRun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelledBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelledBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
