﻿@model EcmsModels.WebModels.ChangeDepartmentViewModel
@{
    ViewBag.Title = "Department";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangeDepartment", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Department</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.DepartmentId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("DepartmentId", null, string.Empty, new { @id = "Department", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SectionId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("SectionId", null, new { @id = "Section", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SubSectionId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("SubSectionId", null, new { @id = "SubSection", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.HiddenFor(m => m.UserId, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    @Scripts.Render("~/bundles/dynamicdropdown")
}
