﻿@model EcmsModels.WebModels.IndexViewModel
 
<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change user account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword", new { id = Model.UserId })
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword", new { id = Model.UserId })
}
            ]
        </dd>
        <dt>
            @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>*@
            @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
            *@
        </dt>
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;@Html.ActionLink("Change", "AddPhoneNumber", new { id = Model.UserId })&nbsp;]</text>
            @*using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }*@
    }
    else
    {
        <text>[&nbsp;@Html.ActionLink("Add", "AddPhoneNumber", new { id = Model.UserId })&nbsp;]</text>
}
        </dd>

        @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
    {
        <dt>@Html.LabelFor(model => model.Email):</dt>
        <dd>
            @(Model.Email ?? "None")
            @if (Model.Email != null)
        {
            <br />
            <text>[&nbsp;@Html.ActionLink("Change", "ChangeEmail", new { id = Model.UserId })&nbsp;]</text>
    }
    else
    {
        <text>[&nbsp;@Html.ActionLink("Add", "ChangeEmail", new { id = Model.UserId })&nbsp;]</text>
}

        </dd>
        <dt>@Html.LabelFor(model => model.Role):</dt>
        <dd>
            @(Model.Role ?? "None")
            @if (Model.Role != null)
        {
            <br />
            <text>[&nbsp;@Html.ActionLink("Change", "ChangeRole", new { id = Model.UserId })&nbsp;]</text>
    }
    else
    {
        <text>[&nbsp;@Html.ActionLink("Add", "ChangeRole", new { id = Model.UserId })&nbsp;]</text>
}

        </dd>

        <dt>@Html.LabelFor(model => model.FullName):</dt>
        <dd>
            @(Model.FullName ?? "None")
            @if (Model.FullName != null)
        {
            <br />
            <text>[&nbsp;@Html.ActionLink("Change", "ChangeFullName", new { id = Model.UserId })&nbsp;]</text>
    }
    else
    {
        <text>[&nbsp;@Html.ActionLink("Add", "ChangeFullName", new { id = Model.UserId })&nbsp;]</text>
}

        </dd>

        <dt>@Html.LabelFor(model => model.Username):</dt>
        <dd>
            @(Model.Username ?? "None")
            @if (Model.Username != null)
        {
            <br />
            <text>[&nbsp;@Html.ActionLink("Change", "ChangeUsername", new { id = Model.UserId })&nbsp;]</text>
    }
    else
    {
        <text>[&nbsp;@Html.ActionLink("Add", "ChangeUsername", new { id = Model.UserId })&nbsp;]</text>
}
        </dd>

}
        @if (User.IsInRole("Admin"))
    {
        <dt>@Html.LabelFor(model => model.Department):</dt>
        <dd>
            @(Model.Department ?? "None")
            @if (Model.Department != null)
        {
            <br />
            <text>[&nbsp;@Html.ActionLink("Change", "ChangeDepartment", new { id = Model.UserId })&nbsp;]</text>
    }
    else
    {
        <text>[&nbsp;@Html.ActionLink("Add", "ChangeDepartment", new { id = Model.UserId })&nbsp;]</text>
}

        </dd>

}
        @if (User.IsInRole("Admin"))
    {
        <dt>@Html.LabelFor(model => model.Section):</dt>
        <dd>
            @(Model.Section ?? "None")
            @if (Model.Section != null)
        {
            <br />
            <text>[&nbsp;@Html.ActionLink("Change", "ChangeSection", new { id = Model.UserId })&nbsp;]</text>
    }
    else
    {
        <text>[&nbsp;@Html.ActionLink("Add", "ChangeSection", new { id = Model.UserId })&nbsp;]</text>
}

        </dd>

}

        @if (User.IsInRole("Admin"))
    {
        <dt>@Html.LabelFor(model => model.SubSection):</dt>
        <dd>
            @(Model.SubSection ?? "None")
            @if (Model.SubSection != null)
        {
            <br />
            <text>[&nbsp;@Html.ActionLink("Change", "ChangeSubSection", new { id = Model.UserId })&nbsp;]</text>
    }
    else
    {
        <text>[&nbsp;@Html.ActionLink("Add", "ChangeSubSection", new { id = Model.UserId })&nbsp;]</text>
}

        </dd>

}

        @*@if (User.IsInRole("Admin"))
    {
        <dt>@Html.LabelFor(model => model.SubZone):</dt>
        <dd>
            @(Model.SubZone ?? "None")
            @if (Model.SubZone != null)
        {
            <br />
            <text>[&nbsp;@Html.ActionLink("Change", "ChangeSubZone", new { id = Model.UserId })&nbsp;]</text>
    }
    else
    {
        <text>[&nbsp;@Html.ActionLink("Add", "ChangeSubZone", new { id = Model.UserId })&nbsp;]</text>
}

        </dd>

}

        @if (User.IsInRole("Admin"))
    {
        <dt>@Html.LabelFor(model => model.MaintenanceCentre):</dt>
        <dd>
            @(Model.MaintenanceCentre ?? "None")
            @if (Model.MaintenanceCentre != null)
        {
            <br />
            <text>[&nbsp;@Html.ActionLink("Change", "ChangeMaintenaneCentre", new { id = Model.UserId })&nbsp;]</text>
    }
    else
    {
        <text>[&nbsp;@Html.ActionLink("Add", "ChangeMaintenanceCentre", new { id = Model.UserId })&nbsp;]</text>
}*@

        </dd>

}

        <dt>
            @*<dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>
               @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }
            </dd>*@
        </dt>
    </dl>
</div>
