﻿@model EcmsModels.DataModels.GeneratorDeploymentHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GeneratorDeploymentHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Generator.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Generator.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeployedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeployedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRecalled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRecalled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecalledBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecalledBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
