﻿@model IEnumerable<EcmsModels.DataModels.GeneratorDeploymentHistory>

@{
    ViewBag.Title = "Generator Assignments";
}
@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GeneratorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDeployed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeployedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRecalled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecalledBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GeneratorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDeployed)
        </td>
        <td>
            @{ var DeployedBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(item.DeployedBy); var Assignor = DeployedBy.FullName + " <" + DeployedBy.Email + ">"; @Html.DisplayFor(modelItem => Assignor) }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRecalled)
        </td>
        <td>
            @{ if (item.RecalledBy != null)
            {
                var RecalledBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(item.RecalledBy); var Recaller = RecalledBy.FullName + " <" + RecalledBy.Email + ">"; @Html.DisplayFor(modelItem => Recaller);
        }
            }
        </td>
    </tr>
    }

</table>
