﻿@model EcmsModels.DataModels.FuelDelivery

@{
    ViewBag.Title = "Stock Receipt Details";
}

<div>
    @*<h4>@ViewBag.Title</h4>*@
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" }) |
        @Html.ActionLink(" ", "Edit", new { sourceId = Model.FuelSourceId, fuelTypeId = Model.FuelTypeId, deliveryDate = Model.DateDelivered.ToString("yyyy/MM/dd HH:mm:ss.fff") }, new { @class = "fa fa-pencil" })
    </div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FuelSource.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelSource.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDelivered)
        </dt>

        <dd>
            @{ var date = Model.DateDelivered.ToLongDateString();
                @Html.DisplayFor(model => date)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity) }
        </dt>

        <dd>
            @{var Quantity = Model.Quantity.ToString("N0"); @Html.DisplayFor(model => Quantity) }
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.QuantityBefore)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuantityBefore)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dd>
            @Html.HiddenFor(model => model.FuelSourceId)
        </dd>
        <dd>
            @Html.HiddenFor(model => model.FuelTypeId)
        </dd>
        <dd>
            @Html.HiddenFor(model => model.DateDelivered)
        </dd>
        <dd>
            @Html.HiddenFor(model => model.LoggedBy)
        </dd>


    </dl>
</div>
@*<p> 
    @Html.ActionLink("Edit", "Edit", new { sourceId = Model.FuelSourceId, fuelTypeId = Model.FuelTypeId, deliveryDate = Model.DateDelivered.ToString("dd/MM/yyyy HH:mm:ss.fff") }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
