﻿@model IEnumerable<EcmsModels.DataModels.FuelDelivery>

@{
    ViewBag.Title = "Stock Receipts";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" } )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateDelivered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelSource.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.QuantityBefore)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedBy)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LoggedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@{ var date = item.DateDelivered.ToString();
                @Html.DisplayFor(modelItem => date)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelSource.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType.Name)
        </td>
        <td>
            @{var Quantity = item.Quantity.ToString("N0"); @Html.DisplayFor(modelItem => Quantity) }
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.QuantityBefore)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedBy)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LoggedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>*@
        <td>
            @Html.ActionLink("  ", "Details", new { sourceId = item.FuelSourceId, fuelTypeId = item.FuelTypeId, deliveryDate = item.DateDelivered.ToString("yyyy/MM/dd HH:mm:ss.fff") }, new { @class = "fa fa-search-plus" })   |
            @Html.ActionLink("  ", "Edit", new { sourceId = item.FuelSourceId, fuelTypeId = item.FuelTypeId, deliveryDate = item.DateDelivered.ToString("yyyy/MM/dd HH:mm:ss.fff") }, new { @class = "fa fa-pencil" }) 

        </td>
    </tr>
}

</table>
