﻿@model EcmsModels.DataModels.GeneratorServiceHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GeneratorServiceHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Generator.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Generator.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursRun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursRun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServicedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServicedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { generatorId = Model.GeneratorId, serviceDate = Model.DateServiced.ToString("dd/MM/yyyy HH:mm:ss") }) |
    @Html.ActionLink("Back to List", "Index")
</p>
