﻿@model IEnumerable<EcmsModels.DataModels.GeneratorServiceHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Generator.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursRun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicedBy)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LoggedBy)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Generator.Supplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursRun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobCardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicedBy)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LoggedBy)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { generatorId = item.GeneratorId, serviceDate = item.DateServiced.ToString("dd/MM/yyyy HH:mm:ss") }) |
            @Html.ActionLink("Details", "Details", new { generatorId = item.GeneratorId, serviceDate = item.DateServiced.ToString("dd/MM/yyyy HH:mm:ss") })
        </td>
    </tr>
}

</table>
