﻿@model EcmsModels.DataModels.FuelRequest

<div>
    <h4>FuelRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Drawdown.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drawdown.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requestor.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requestor.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRequested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRequested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateActioned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateActioned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authorised)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authorised)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestorComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestorComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionerComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionerComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
