﻿@{
    Layout = "../Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Home";
}


@*<p>@ViewBag.Title</p>*@

@*<div class="img-container center-block">
    <img class="img-responsive" src="~/Content/images/logo.png" />
</div>*@
@*<p>@Html.ActionLink("User Accounts", "Users", "Manage")</p>

<hr />

<li>@Html.ActionLink("Fuel Sources", "Index", "FuelSources")</li>
<li>@Html.ActionLink("Fuel Deliveries", "Index", "FuelDeliveries")</li>
<li>@Html.ActionLink("Fuel Inventory", "Index", "FuelInventories")</li>
<li>@Html.ActionLink("Vehicle Service", "Index", "VehicleService")</li>
<li>@Html.ActionLink("Generator Service", "Index", "GeneratorService")</li>
<li>@Html.ActionLink("Electricity Purchases", "Index", "ElectricityPurchases")</li>
<li>@Html.ActionLink("Electricity Token Issuing", "Index", "ElectricityTokenIssuing")</li>
<li>@Html.ActionLink("Electricity Meter Recharges", "Index", "ElectricityRecharges")</li>
<li>@Html.ActionLink("Departments", "Index", "Department")</li>
<li>@Html.ActionLink("Sections", "Index", "Sections")</li>
<li>@Html.ActionLink("Sub Sections", "Index", "SubSections")</li>
<li>@Html.ActionLink("Sub Zones", "Index", "SubZones")</li>
<li>@Html.ActionLink("Vehicles", "Index", "Vehicles")</li>
<li>@Html.ActionLink("Sites", "Index", "Sites")</li>
<li>@Html.ActionLink("Generators", "Index", "Generators")</li>
<li>@Html.ActionLink("Fuel Types", "Index", "FuelTypes")</li>
<li>@Html.ActionLink("Commercial Power Status", "Index", "CommercialPowerStatus")</li>
<li>@Html.ActionLink("Coupon Batch Status", "Index", "CouponBatchStatus")</li>
<li>@Html.ActionLink("Coupon Batches", "Index", "CouponBatches")</li>
<li>@Html.ActionLink("Electricity Meters", "Index", "ElectrictyMeters")</li>
<li>@Html.ActionLink("Electricity Meter Status", "Index", "ElectricityMeterStatus")</li>
<li>@Html.ActionLink("Fuel Source Status", "Index", "FuelSourceStatus")</li>
<li>@Html.ActionLink("Fuel Source Types", "Index", "FuelSourceTypes")</li>
<li>@Html.ActionLink("Generator Models", "Index", "GeneratorModels")</li>
<li>@Html.ActionLink("Generator Status", "Index", "GeneratorStatus")</li>*@






