﻿@model EcmsModels.DataModels.ElectricityRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ElectricityRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ElectricityTokenIssue.ElectricityPurchaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricityTokenIssue.ElectricityPurchaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requestor.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requestor.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRequested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRequested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSectionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestorComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestorComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Units)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Units)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateActioned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateActioned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authorised)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authorised)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionerComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionerComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
