﻿@model IEnumerable<EcmsModels.DataModels.ElectricityRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityTokenIssue.ElectricityPurchaseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requestor.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRequested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubSectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestorComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Units)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateActioned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Authorised)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionerComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ElectricityTokenIssue.ElectricityPurchaseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requestor.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRequested)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubSectionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestorComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Units)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateActioned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Authorised)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionerComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
