﻿@model EcmsModels.DataModels.ElectrictyMeter

@{
    ViewBag.Title = "Electricity Meter Details";
}

<div>
    @*<h4>@ViewBag.Title</h4>*@
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" }) |
        @Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "fa fa-pencil" })
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Site.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDeployed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDeployed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeployedBy)
        </dt>

        <dd>
            @{ var DeployedBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(Model.DeployedBy); var Deployer = DeployedBy.FullName + " <" + DeployedBy.Email + ">"; @Html.DisplayFor(modelItem => Deployer) }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElectricityMeterStatus.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricityMeterStatus.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disabled)
        </dt>

        <dd>
            @Html.CheckBoxFor(modelItem => modelItem.Disabled, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
