﻿@model IEnumerable<EcmsModels.DataModels.ElectrictyMeter>

@{
    ViewBag.Title = "New Electricity Meter";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDeployed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeployedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityMeterStatus.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disabled)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDeployed)
        </td>
        <td>
            @{ var DeployedBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(item.DeployedBy); var Deployer = DeployedBy.FullName + " <" + DeployedBy.Email + ">"; @Html.DisplayFor(modelItem => Deployer) }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectricityMeterStatus.Description)
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.Disabled, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
        </td>
        <td>
            @Html.ActionLink("  ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" })  |
            @Html.ActionLink("  ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" })
        </td>
    </tr>
    }

</table>
