﻿@model EcmsWebApplication.Models.SectionViewModel

@{
    Layout = null;
}

<div class="form-group">
    @Html.Label("Section", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(p => p.SelectedSectionId, Model.EntitySelectList, null, new { @id = "Section", @class = "form-control" })
    </div>
</div>
