﻿@model EcmsModels.DataModels.Site

@{
    ViewBag.Title = "Site Details";
}

<div>
    @*<h4>@ViewBag.Title</h4>*@
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" }) |
        @Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "fa fa-pencil" })
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.MaintenanceCentre.SubZone.SubSection.Name)*@ Zone
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceCentre.SubZone.SubSection.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceCentre.SubZone.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintenanceCentre.SubZone.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceCentre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintenanceCentre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segment.Name)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Segment.Name)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Landlord.Name)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Landlord.Name)
        </dt>

        <dt>
            @*@Html.DisplayNameFor(model => model.CommercialPowerStatus.Description)*@ Power Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommercialPowerStatus.Description)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
