﻿@model IEnumerable<EcmsModels.DataModels.Site>

@{
    ViewBag.Title = "Sites";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.MaintenanceCentre.SubZone.SubSection.Name)*@ Zone
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segment.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Landlord.Name)
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.CommercialPowerStatus.Description)*@ Power Status
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CommercialPowerAvailable)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaintenanceCentre.SubZone.SubSection.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Segment.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Landlord.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommercialPowerStatus.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommercialPowerAvailable)
        </td>
        <td>
            @Html.ActionLink("  ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" }) |
            @Html.ActionLink("  ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" })
        </td>
    </tr>
    }

</table>
