﻿@model IEnumerable<EcmsModels.DataModels.VehicleSubSectionDeploymentHistory>

@{
    ViewBag.Title = "Vehicle Assignment History";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubSection.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDeployed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeployedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRecalled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecalledBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubSection.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDeployed)
        </td>
        <td>
            @{ var AssignedBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(item.DeployedBy); var Assignor = AssignedBy.FullName + " <" + AssignedBy.Email + ">"; @Html.DisplayFor(modelItem => Assignor) }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRecalled)
        </td>
        <td>
            @{ if (item.RecalledBy != null)
                {
                    var RecalledBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(item.RecalledBy); var Recaller = RecalledBy.FullName + " <" + RecalledBy.Email + ">"; @Html.DisplayFor(modelItem => Recaller);
                    }
                }
        </td>
        <td></td>
    </tr>
    }

</table>
