﻿@model EcmsModels.DataModels.Generator

@{
    ViewBag.Title = "Generator Details";
}

<div>
    @*<h4>@ViewBag.Title</h4>*@
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" }) |
        @Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "fa fa-pencil" })
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GeneratorModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratorModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeneratorStatus.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneratorStatus.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearFirstUsedAsNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearFirstUsedAsNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursRun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursRun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelCapacity)
        </dd>

    </dl>
</div>
