﻿@model IEnumerable<EcmsModels.DataModels.Generator>

@{
    ViewBag.Title = "Generators";
}
@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneratorModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneratorStatus.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearFirstUsedAsNew)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.HoursRun)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FuelCapacity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GeneratorModel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneratorStatus.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearFirstUsedAsNew)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.HoursRun)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FuelCapacity)
            </td>
            <td>
                @Html.ActionLink("  ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" })  |
                @Html.ActionLink("  ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" })
            </td>
        </tr>
    }

</table>
