﻿@model EcmsModels.DataModels.Vehicle

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleBodyType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleBodyType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleStatu.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleStatu.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearFirstUsedAsNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearFirstUsedAsNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelTankCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelTankCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartMileage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
