﻿@model EcmsModels.DataModels.Vehicle

@{
    ViewBag.Title = "Vehicle Details";
}

<div>
    @*<h4>@ViewBag.Title</h4>*@
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" }) |
        @Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "fa fa-pencil" })
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubSection.Section.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSection.Section.Department.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubSection.Section.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSection.Section.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSection.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSection.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleBodyType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleBodyType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleStatus.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleStatus.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearFirstUsedAsNew)
        </dt>

        <dd>
            @{ var Year = Model.YearFirstUsedAsNew.Year; @Html.DisplayFor(modelItem => Year) }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelTankCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelTankCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartMileage)
        </dd>

    </dl>
</div>
