﻿@model IEnumerable<EcmsModels.DataModels.Vehicle>

@{
    ViewBag.Title = "Vehicles";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel.VehicleMake.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleBodyType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubSection.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleStatus.Description)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.YearFirstUsedAsNew)
        </th>

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel.VehicleMake.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleBodyType.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SubSection.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleStatus.Description)
        </td>
        <td>
            @{ var Year = item.YearFirstUsedAsNew.Year; @Html.DisplayFor(modelItem => Year) }
        </td>
        <td>
            @Html.ActionLink("  ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" })  |
            @Html.ActionLink("  ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil" })
        </td>
    </tr>
    }

</table>
