﻿@model IEnumerable<EcmsModels.DataModels.GeneratorServiceHistory>

@{
    ViewBag.Title = "Generator Service";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Generator.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateServiced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursRun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicedBy)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.LoggedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Generator.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateServiced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursRun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicedBy)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.LoggedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>*@
            <td>
                @Html.ActionLink("  ", "Details", new { generatorId = item.GeneratorId, serviceDate = item.DateServiced.ToString("yyyy/MM/dd HH:mm:ss") }, new { @class = "fa fa-search-plus" })  |
                @Html.ActionLink("  ", "Edit", new { generatorId = item.GeneratorId, serviceDate = item.DateServiced.ToString("yyyy/MM/dd HH:mm:ss") }, new { @class = "fa fa-pencil" })
            </td>
        </tr>
    }

</table>
