﻿@model EcmsModels.DataModels.FuelInventory
@{
    Layout = "../Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Sign in";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FuelSource.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderTriggered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FuelSource.FuelDeliveries)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedBy)
            </td>
        </tr>
}
        @foreach (var item in Model.Drawdowns)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelRequest.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelRequest.FuelType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelRequest.Requestor.FullName)
            </td>
        </tr>
}
        @foreach (var item in Model.Adjustments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateActioned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdjustmentQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryItem.FuelType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Initiator.FullName)
            </td>
        </tr>
}




    </tbody>

</table>
