﻿@model EcmsModels.DataModels.CancelledCoupon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CancelledCoupon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CouponsBatch.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CouponsBatch.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCancelled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCancelled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelledBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelledBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
