﻿@model EcmsModels.DataModels.VehicleTrip

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VehicleTrip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningMileageImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningMileageImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingMileageImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingMileageImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedBy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
