﻿@model EcmsModels.DataModels.VehicleTrip

@{
    ViewBag.Title = "Details";
}

<div>
    @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" })
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningMileageImage)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.OpeningMileageImage)*@
            @{ 
                if(Model.ClosingMileageImage != null)
                {
                    <a href="#"><i class="fa fa-eye"></i></a>
                }
                else
                {
                    <i class="fa fa-eye-slash"></i>
                }
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingMileageImage)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ClosingMileageImage)*@
            @{ 
                if(Model.ClosingMileageImage != null)
                {
                    <a href="#"><i class="fa fa-eye"></i></a>
                }
                else
                {
                    <i class="fa fa-eye-slash"></i>
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedBy)
        </dt>

        <dd>
            @{ var LoggedBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(Model.LoggedBy); var Logger = LoggedBy.FullName + " <" + LoggedBy.Email + ">"; @Html.DisplayFor(modelItem => Logger) }

        </dd>

    </dl>
</div>
