﻿@model IEnumerable<EcmsModels.DataModels.VehicleTrip>

@{
    ViewBag.Title = "Trips";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningMileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingMileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purpose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoggedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningMileage)
            @{ 
                //if(item.OpeningMileageImage != null)
                {
                    var alter = item.ClosingMileage.ToString();
                    <img class="hidden" id="opening-mileage-image" src="data:image/jpeg;base64, @ViewBag.Image " alt=@item.OpeningMileage>
                    <a href="#" id="opening-mileage-image-trigger"><i class="fa fa-eye"></i></a>

                        }
                        //else
                        {
                    @*<i class="fa fa-eye-slash"></i>*@
                }
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingMileage)
            @{ 
                //if(item.ClosingMileageImage != null)
                {
                    <img class="hidden" id="closing-mileage-image" src="data:image/jpeg;base64, @ViewBag.Image " alt= @item.ClosingMileage>
                    <a href="#" id="closing-mileage-image-trigger"><i class="fa fa-eye"></i></a>
                        }
                        //else
                        {
                    @*<i class="fa fa-eye-slash"></i>*@
                }
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purpose)
        </td>
        <td>
            @{ var LoggedBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(item.LoggedBy); var Logger = LoggedBy.FullName + " <" + LoggedBy.Email + ">"; @Html.DisplayFor(modelItem => Logger) }
        </td>
        <td>
            @Html.ActionLink("  ", "Details", new { vehicleId = item.VehicleId, tripDate = item.DateRecorded.ToString("yyyy/MM/dd HH:mm:ss.fff") }, new { @class = "fa fa-search-plus" }) 
        </td>
    </tr>
}
     
</table>
