﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecms | @ViewBag.Title </title>
    @Styles.Render("~/Gentelella/css")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/Custom/css")

    <style>
        input[type="file"] {
            display: none;
        }

        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }

        select,
        input[type="button"],
        input[type="tel"],
        input[type="datetime"],
        input[type="date"],
        input[type="number"],
        input[type="range"],
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            border-radius: 3px;
            -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
            -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
            box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
            border: 1px solid #c8c8c8;
            margin: 0 0 5px;
            color: #777;
            width: 100%
        }
            select:focus,
            input[type="button"]:focus,
            input[type="tel"]:focus,
            input[type="datetime"]:focus,
            input[type="date"]:focus,
            input[type="number"]:focus,
            input[type="range"]:focus,
            input[type="text"]:focus,
            input[type="email"]:focus,
            input[type="password"]:focus {
                -ms-box-shadow: 0 0 2px #ed1c24 inset;
                -o-box-shadow: 0 0 2px #ed1c24 inset;
                box-shadow: 0 0 2px #A97AAD inset;
                background-color: #fff;
                border: 1px solid #A878AF;
                outline: none
            }


    </style>


    <style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
    </style>

    @*<!--[if lt IE 9]>
    <script src="../assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->*@
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div>
                @Html.Partial("_SideMenu")
            </div>
            <div>
                @Html.Partial("_TopMenu")
            </div>
            <!--Begin Main Content-->
            <div>
                <div class="right_col" role="main">
                    <div class="">
                        @*<div class="page-title">
                        <div class="title_left">
                            <h3>
                                @ViewBag.Title <small>@ViewBag.SubTitle</small>
                            </h3>
                        </div>
                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>*@
                        <!--Modal Image Setupdiv-->
                        <div>
                            <!-- The Modal -->
                            <div id="myModal" class="modal">
                                <!-- The Close Button -->
                                <span class="close" id="close-modal">&times;</span>
                                <!-- Modal Content (The Image) -->
                                <img class="modal-content" id="modal-image" />
                                <!-- Modal Caption (Image Text) -->
                                <div id="caption"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>@ViewBag.ActionTitle <small>@ViewBag.ActionSubTitle </small></h2>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Settings 1</a></li>
                                                    <li><a href="#">Settings 2</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    @Html.Partial("_Footer")
                </div>
            </div>
            <!--End Main Content-->
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/gentelella")
            @Scripts.Render("~/bundles/Custom")
            @Scripts.Render("showmodalimage")
            @RenderSection("scripts", required: false)

            <script>
                // Get the modal
                var modal = document.getElementById('myModal');
                var modalImg = document.getElementById("modal-image");
                var captionText = document.getElementById("caption");

                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];
                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                }

                // Get the opening-mileage image and insert it inside the modal - use its "alt" text as a caption
                var openingmileagetrigger = document.getElementById('opening-mileage-image-trigger');
                var openingmileageimage = document.getElementById('opening-mileage-image');
                openingmileagetrigger.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = openingmileageimage.src;
                    captionText.innerHTML = openingmileageimage.alt;
                }

                // Get the closing-mileage image and insert it inside the modal - use its "alt" text as a caption
                var closingmileagetrigger = document.getElementById('closing-mileage-image-trigger');
                var closingmileageimage = document.getElementById('closing-mileage-image');
                closingmileagetrigger.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = closingmileageimage.src;
                    captionText.innerHTML = closingmileageimage.alt;
                }


                // Get the mileage image and insert it inside the modal - use its "alt" text as a caption
                var mileagetrigger = document.getElementById('mileage-image-trigger');
                var mileageimage = document.getElementById('mileage-image');
                mileagetrigger.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = mileageimage.src;
                    captionText.innerHTML = mileageimage.alt;
                }


                // Get the vehicle-level-before image and insert it inside the modal - use its "alt" text as a caption
                var vehiclelevelbeforetrigger = document.getElementById('vehicle-level-before-image-trigger');
                var vehiclelevelbeforeimage = document.getElementById('vehicle-level-before-image');
                vehiclelevelbeforetrigger.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = vehiclelevelbeforeimage.src;
                    captionText.innerHTML = vehiclelevelbeforeimage.alt;
                }


                // Get the vehicle-level-after image and insert it inside the modal - use its "alt" text as a caption
                var vehiclelevelaftertrigger = document.getElementById('vehicle-level-after-image-trigger');
                var vehiclelevelafterimage = document.getElementById('vehicle-level-after-image');
                vehiclelevelaftertrigger.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = vehiclelevelafterimage.src;
                    captionText.innerHTML = vehiclelevelafterimage.alt;
                }


                // Get the hours-run image and insert it inside the modal - use its "alt" text as a caption
                var hoursruntrigger = document.getElementById('hours-run-image-trigger');
                var hoursrunimage = document.getElementById('hours-run-image');
                hoursruntrigger.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = hoursrunimage.src;
                    captionText.innerHTML = hoursrunimage.alt;
                }


                // Get the gen-level-before image and insert it inside the modal - use its "alt" text as a caption
                var genlevelbeforetrigger = document.getElementById('gen-level-before-image-trigger');
                var genlevelbeforeimage = document.getElementById('gen-level-before-image');
                genlevelbeforetrigger.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = genlevelbeforeimage.src;
                    captionText.innerHTML = genlevelbeforeimage.alt;
                }


                // Get the gen-level-after image and insert it inside the modal - use its "alt" text as a caption
                var genlevelaftertrigger = document.getElementById('gen-level-after-image-trigger');
                var genlevelafterimage = document.getElementById('gen-level-after-image');
                genlevelaftertrigger.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = genlevelafterimage.src;
                    captionText.innerHTML = genlevelafterimage.alt;
                }


                // Get the meter-reading image and insert it inside the modal - use its "alt" text as a caption
                var meterreadingtrigger = document.getElementById('meter-reading-image-trigger');
                var meterreadingimage = document.getElementById('meter-reading-image');
                meterreadingtrigger.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = meterreadingimage.src;
                    captionText.innerHTML = meterreadingimage.alt;
                }

                // Get the units-before image and insert it inside the modal - use its "alt" text as a caption
                var unitsbeforetrigger = document.getElementById('units-before-image-trigger');
                var unitsbeforeimage = document.getElementById('units-before-image');
                unitsbeforetrigger.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = unitsbeforeimage.src;
                    captionText.innerHTML = unitsbeforeimage.alt;
                }


                // Get the units-after image and insert it inside the modal - use its "alt" text as a caption
                var unitsaftertrigger = document.getElementById('units-after-image-trigger');
                var unitsafterimage = document.getElementById('units-after-image');
                unitsaftertrigger.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = unitsafterimage.src;
                    captionText.innerHTML = unitsafterimage.alt;
                }

            </script>

        </div>
    </div>
</body>
</html>
