﻿@using Microsoft.AspNet.Identity
@using System.Security.Claims
@using EcmsWebApplication.Extensions
@if (Request.IsAuthenticated)
            {
                var user = User as ClaimsPrincipal;
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(" " + user.GetDepartmentName(), "Index", "Manage", routeValues: new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage" })
        </li>

    <li>
        @Html.ActionLink("Hi " + user.GetFullName(), "Index", "Manage", routeValues: new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
