﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecms | @ViewBag.Title </title>

    @*<link rel="stylesheet" type="text/css" media="screen" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
            <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" />
        @Styles.Render("~/Gentelella/css")
        @Styles.Render("~/datatables/css")
        @Styles.Render("~/reportsmain/css")*@

    <x>
        <!-- Bootstrap -->
        <link href="~/bower_components/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/bower_components/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="~/bower_components/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- Datatables -->
        <link href="~/bower_components/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
        <link href="~/bower_components/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
        <link href="~/bower_components/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
        <link href="~/bower_components/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
        <link href="~/bower_components/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="~/bower_components/gentelella/build/css/custom.min.css" rel="stylesheet">

    </x>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        select,
        input[type="button"],
        input[type="tel"],
        input[type="datetime"],
        input[type="date"],
        input[type="number"],
        input[type="range"],
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            border-radius: 3px;
            -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
            -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
            box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
            border: 1px solid #c8c8c8;
            margin: 0 0 5px;
            color: #777;
            width: 100%
        }

            select:focus,
            input[type="button"]:focus,
            input[type="tel"]:focus,
            input[type="datetime"]:focus,
            input[type="date"]:focus,
            input[type="number"]:focus,
            input[type="range"]:focus,
            input[type="text"]:focus,
            input[type="email"]:focus,
            input[type="password"]:focus {
                -ms-box-shadow: 0 0 2px #ed1c24 inset;
                -o-box-shadow: 0 0 2px #ed1c24 inset;
                box-shadow: 0 0 2px #A97AAD inset;
                background-color: #fff;
                border: 1px solid #A878AF;
                outline: none
            }
    </style>

    @*<!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->*@
</head>
<body class="nav-md" @*style="background-color: aliceblue"*@>
    <div class="container body">
        <div class="main_container">
            <div>
                @Html.Partial("_SideMenu")
            </div>
            <div>
                @Html.Partial("_TopMenu")
            </div>
            <!--Begin Main Content-->
            <div>
                <div class="right_col" role="main">
                    <div class="">
                        @*<div class="page-title">
                                <div class="title_left">
                                    <h3>
                                        @ViewBag.Title <small>@ViewBag.SubTitle</small>
                                    </h3>
                                </div>
                                <div class="title_right">
                                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search for...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">Go!</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div id="report-buttons"></div>
                                        @*<ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                </ul>
                                            </li>
                                            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                                        </ul>*@
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @RenderBody()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    @Html.Partial("_Footer")
                </div>
            </div>

            <!--End Main Content-->
        </div>
    </div>
    <div>
        !-- jQuery -->
        <script src="~/bower_components/gentelella/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/bower_components/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/bower_components/gentelella/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/bower_components/gentelella/vendors/nprogress/nprogress.js"></script>
        <!-- iCheck -->
        <script src="~/bower_components/gentelella/vendors/iCheck/icheck.min.js"></script>
        <!-- Datatables -->
        <script src="~/bower_components/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/bower_components/gentelella/vendors/jszip/dist/jszip.min.js"></script>
        <script src="~/bower_components/gentelella/vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="~/bower_components/gentelella/vendors/pdfmake/build/vfs_fonts.js"></script>
        <script src="~/bower_components/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="~/bower_components/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/bower_components/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="~/bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="~/bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="~/bower_components/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="~/bower_components/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="~/bower_components/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/bower_components/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/bower_components/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="~/bower_components/gentelella/build/js/custom.min.js"></script>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/gentelella_reports")
        @Scripts.Render("~/bundles/Custom")*@
    @Scripts.Render("~/bundles/initializedatatables")
    @RenderSection("scripts", required: false)
</body>
</html>