﻿<!--Begin Side Menu-->
@using Microsoft.AspNet.Identity
@using System.Security.Claims
@using EcmsWebApplication.Extensions
@using EcmsModels.ViewModels

<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
            <a href="@Url.Action("Index", "Home")" class="site_title">ECMS</a>
        </div>

        @if (Request.IsAuthenticated)
        {
            var user = User as ClaimsPrincipal;
            var userName = user.GetFullName();
            userName = userName.Trim().Remove(userName.IndexOf(" "));
        <div class="profile">
            <!--img_2 -->
            <div class="profile_pic">
                <img src="~/Content/images/logo.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>@userName</h2>
            </div>
        </div>
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Transactions</h3>
                <ul class="nav side-menu">
                    @*
                <li>
                    <a><i class="fa fa-sitemap"></i> Departments <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li class="sub_menu">
                            <a><i class="fa fa-edit"></i> Fuel <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>@Html.ActionLink("Receive Coupons", "Index", "CouponsBatch")</li>
                                <li>@Html.ActionLink("Coupon Receipts", "Index", "CancelledCoupons")</li>
                                <li>@Html.ActionLink("Used Coupons", "Index", "CouponsBatch")</li>
                                <li>@Html.ActionLink("Invalidated Coupons", "Index", "CouponsBatch")</li>
                                <li>@Html.ActionLink("Archived Coupons", "Index", "CouponArchives")</li>
                                <li>@Html.ActionLink("Fuel Drawdowns", "Index", "FuelInventories")</li>

                            </ul>
                        </li>

                        <li class="sub_menu">
                            <a><i class="fa fa-cog"></i> Vehicles <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>@Html.ActionLink("View Vehicles", "Index", "Vehicles")</li>
                                <li>@Html.ActionLink("Vehicle Trips", "Index", "VehicleTrips")</li>
                                <li>@Html.ActionLink("Vehicle Servicing", "Index", "VehicleService")</li>
                                <li>@Html.ActionLink("Vehicle Assignments", "Index", "VehicleTrips")</li>

                            </ul>
                        </li>
                    </ul>
                </li>
                    *@
                    <li>
                        <a><i class="fa fa-tags"></i> Stores <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li class="sub_menu">
                                <a><i class="fa fa-edit"></i> Fuel <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    @*<li>@Html.ActionLink("Receive Stock", "Create", "FuelDeliveries")</li>
                                <li>@Html.ActionLink("Add Inventory Item", "Create", "FuelInventories")</li>
                                <li>@Html.ActionLink("Adjust Inventory Item", "Create", "FuelInventoryAdjustments")</li>*@
                                    <li>@Html.ActionLink("Stock Receipts", "Index", "FuelDeliveries")</li>
                                    <li>@Html.ActionLink("Inventory Listing", "Index", "FuelInventories")</li>
                                    <li>@Html.ActionLink("Inventory Adjustments", "Index", "FuelInventoryAdjustments")</li>
                                    <li>@Html.ActionLink("Inventory Drawdowns", "Index", "Drawdowns")</li>
                                    <li>@Html.ActionLink("Historical Balances", "Index", "FuelInventoryHistories")</li>
                                </ul>
                            </li>
                            <li class="sub_menu">
                                <a><i class="fa fa-edit"></i> Coupons <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    @*<li>@Html.ActionLink("Receive Coupons", "Create", "CouponsBatches")</li>
                                <li>@Html.ActionLink("Transfer Coupons", "Create", "CouponsBatchTransfers")</li>
                                <li>@Html.ActionLink("Invalidate Coupons", "Create", "CancelledCoupons")</li>*@
                                    <li>@Html.ActionLink("Batches", "Index", "CouponsBatch")</li>
                                    <li>@Html.ActionLink("Transfers", "Index", "CouponsBatchTransfers")</li>
                                    <li>@Html.ActionLink("Used Coupons", "Index", "UsedCoupons")</li>
                                    <li>@Html.ActionLink("Invalidated Coupons", "Index", "CancelledCoupons")</li>
                                    <li>@Html.ActionLink("Archived Coupons", "Index", "CouponArchives")</li>
                                </ul>
                            </li>
                            <li class="sub_menu">
                                <a><i class="fa fa-cog"></i> Setup <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>@Html.ActionLink("Fuel Stores", "Index", "FuelSources")</li>
                                    <li>@Html.ActionLink("Fuel Types", "Index", "FuelTypes")</li>
                                    <li>@Html.ActionLink("Fuel Store Status", "Index", "FuelSourceStatus")</li>
                                    <li>@Html.ActionLink("Fuel Store Types", "Index", "FuelSourceTypes")</li>
                                    <li>@Html.ActionLink("Coupon Batch Status", "Index", "CouponBatchStatus")</li>
                                    <li>@Html.ActionLink("Coupon Issuers", "Index", "CouponIssuers")</li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-map-marker"></i> Estates <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a><i class="fa fa-edit"></i> Electricity <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    @*<li>@Html.ActionLink("Buy Recharge Tokens", "Create", "ElectricityPurchases")</li>
                                <li>@Html.ActionLink("Issue Recharge Tokens", "Create", "ElectricityTokenIssuing")</li>
                                <li>@Html.ActionLink("New Meter", "Create", "ElectrictyMeters")</li>*@
                                    <li>@Html.ActionLink("Token Purchases", "Index", "ElectricityPurchases")</li>
                                    <li>@Html.ActionLink("Token Issues", "Index", "ElectricityTokenIssuing")</li>
                                    <li>@Html.ActionLink("Meter Recharges", "Index", "ElectricityRecharges")</li>
                                    <li>@Html.ActionLink("Meters", "Index", "ElectrictyMeters")</li>

                                </ul>
                            </li>

                            <li>
                                <a><i class="fa fa-desktop"></i> Sites <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    @*<li>@Html.ActionLink("New Site", "Create", "Sites")</li>
                                <li>@Html.ActionLink("Assign Meter", "Create", "SiteElectricityMeterAssignmentHistories")</li>
                                <li>@Html.ActionLink("Assign Generator", "Create", "GeneratorDeploymentHistories")</li>*@
                                    <li>@Html.ActionLink("Sites", "Index", "Sites")</li>
                                    <li>@Html.ActionLink("Meter Deployment", "Index", "SiteElectricityMeterAssignmentHistories")</li>
                                    <li>@Html.ActionLink("Generator Deployment", "Index", "GeneratorDeploymentHistories")</li>

                                </ul>
                            </li>

                            <li>
                                <a><i class="fa fa-cogs"></i> Setup <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>@Html.ActionLink("Provinces", "Index", "Provinces")</li>
                                    <li>@Html.ActionLink("Landlords", "Index", "Landlords")</li>
                                    <li>@Html.ActionLink("Site Segments", "Index", "SiteSegments")</li>
                                    <li>@Html.ActionLink("Power Status", "Index", "CommercialPowerStatus")</li>
                                    <li>@Html.ActionLink("Electricity Meter Status", "Index", "ElectricityMeterStatus")</li>

                                </ul>
                            </li>


                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-car"></i> Transport <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            @*<li>@Html.ActionLink("New Vehicle", "Create", "Vehicles")</li>
                        <li>@Html.ActionLink("Assign Vehicle", "Create", "VehicleSubSectionDeploymentHistories")</li>
                        <li>@Html.ActionLink("Log Vehicle Service", "Create", "VehicleService")</li>*@
                            <li>@Html.ActionLink("Vehicles", "Index", "Vehicles")</li>
                            <li>@Html.ActionLink("Vehicle Trips", "Index", "VehicleTrips")</li>
                            <li>@Html.ActionLink("Vehicle Servicing", "Index", "VehicleService")</li>
                            <li>@Html.ActionLink("Vehicle Deployment", "Index", "VehicleSubSectionDeploymentHistories")</li>

                            <li class="active">

                                <a><i class="fa fa-cogs"></i> Setup <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>@Html.ActionLink("Vehicle Models", "Index", "VehicleModels")</li>
                                    <li>@Html.ActionLink("Vehicle Makes", "Index", "VehicleMakes")</li>
                                    <li>@Html.ActionLink("Vehicle Body Types", "Index", "VehicleBodyTypes")</li>
                                    <li>@Html.ActionLink("Vehicle Status", "Index", "VehicleStatus")</li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-wrench"></i> Technical <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            @*<li>@Html.ActionLink("New Generator", "Create", "Generators")</li>
                        <li>@Html.ActionLink("Log Generator Service", "Create", "GeneratorService")</li>*@
                            <li>@Html.ActionLink("Generators", "Index", "Generators")</li>
                            <li>@Html.ActionLink("Generator Servicing", "Index", "GeneratorService")</li>

                            <li class="active">
                                <a><i class="fa fa-cogs"></i> Setup <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li>@Html.ActionLink("Generator Models", "Index", "GeneratorModels")</li>
                                    <li>@Html.ActionLink("Generator Status", "Index", "GeneratorStatus")</li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-tablet"></i> Mobile Emulator @*<span class="fa fa-chevron-down"></span>*@<span class="label label-success pull-right">Coming Soon</span></a>
                        @*<ul class="nav child_menu">
                        <li class="sub_menu">
                            <a><i class="fa fa-edit"></i> Readings <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>@Html.ActionLink("Log Trip", "Create", "VehicleTrips")</li>
                                <li>@Html.ActionLink("Log Vehicle Readings", "Create", "VehicleReadings")</li>
                                <li>@Html.ActionLink("Log Generator Readings", "Create", "GeneratorReadings")</li>
                                <li>@Html.ActionLink("Log Meter Reading", "Create", "ElectricityLevelChecks")</li>

                            </ul>
                        </li>

                        <li class="sub_menu">
                            <a><i class="fa fa-edit"></i> Fuel <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>@Html.ActionLink("Send Fuel Request", "Create", "FuelRequests")</li>
                                <li>@Html.ActionLink("Fuel Up Vehicle", "Create", "FuelUpVehicles")</li>
                                <li>@Html.ActionLink("Drawdown Fuel", "Create", "Drawdowns")</li>
                                <li>@Html.ActionLink("Fuel Up Generator", "Create", "FuelUpGenerators")</li>

                            </ul>
                        </li>
                        <li class="sub_menu">
                            <a><i class="fa fa-edit"></i> Electricity <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>@Html.ActionLink("Send Recharge Token Request", "Create", "ElectricityRequests")</li>
                                <li>@Html.ActionLink("Recharge Meter", "Create", "ElectricityRecharges")</li>
                            </ul>
                        </li>
                        <li class="sub_menu">
                            <a><i class="fa fa-cog"></i> Approval <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>@Html.ActionLink("Approve Fuel Request", "Approve", "FuelRequests")</li>
                                <li>@Html.ActionLink("Approve Electricity Request", "Approve", "ElectricityRequests")</li>

                            </ul>
                        </li>

                    </ul>*@
                    </li>

                </ul>
            </div>
            <div class="menu_section">
                @*<h3>Reports</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-bug"></i> Inventory <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>@Html.ActionLink("Statement", "Index", "Reports", null, new { reportName = "InventoryStatement" })</li>
                    <li><a href="e_commerce_backend.html">E-commerce Backend</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="project_detail.html">Project Detail</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="real_estate.html">Real Estate</a></li>

            </ul>
            </li>
            <li>
            <a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a href="page_404.html">404 Error</a></li>
                <li><a href="page_500.html">500 Error</a></li>
                <li><a href="coming_soon.html">Coming Soon</a></li>
                <li><a href="plain_page.html">Plain Page</a></li>
                <li><a href="login.html">Login Page</a></li>
                <li><a href="sign_up.html">SignUp Page</a></li>
                <li><a href="pricing_tables.html">Pricing Tables</a></li>

            </ul>
        </li>
            </ul>*@
            </div>
            @if (user.IsInRole(DefaultValues.DefaultAdministratorRole))
            { 
                <div class="menu_section">
                <h3>System Administration</h3>
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> User Profiles <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>@Html.ActionLink("User Accounts", "Users", "Manage")</li>

                        </ul>
                    </li>

                    <li>
                        <a><i class="fa fa-table"></i> Maintenance Centres <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>@Html.ActionLink("Maintenance Centres", "Index", "MaintenanceCentres")</li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Sub-Zones <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>@Html.ActionLink("Sub Zones", "Index", "SubZones")</li>

                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Sub-Sections/Zones <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>@Html.ActionLink("Sub Sections", "Index", "SubSections")</li>

                        </ul>
                    </li>

                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Sections <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>@Html.ActionLink("Sections", "Index", "Sections")</li>

                        </ul>
                    </li>

                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Departments <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>@Html.ActionLink("Departments", "Index", "Department")</li>

                        </ul>
                    </li>

                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Regions <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>@Html.ActionLink("Regions", "Index", "Regions")</li>

                        </ul>
                    </li>

                </ul>
            </div>
            }
        </div>

        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
}
    </div>
</div>
<!--End Side Menu-->
