﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ecms</title>
    @Styles.Render("~/Gentelella/css")
    @Styles.Render("~/Custom/css")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="login">
    <div>
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/gentelella")
    @Scripts.Render("~/bundles/Custom")
    @RenderSection("scripts", required: false)
</body>
</html>
