﻿<!--Begin Top Menu-->
@using Microsoft.AspNet.Identity
@using System.Security.Claims
@using EcmsWebApplication.Extensions

<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

                @*<div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>*@


            @if (Request.IsAuthenticated)
    {
        var user = User as ClaimsPrincipal;
        var department = user.GetDepartment();
        var departmentName = department.Name;
        var departmentOverseer = department.GetOverseer().FullName;
        var sectionn = user.GetSection();
        var sectionName = sectionn.Name;
        var sectionOverseer = sectionn.GetOverseer().FullName;
        var subSection = user.GetSubSection();
        var subSectionName = subSection.Name;
        var subSectionOverseer = subSection.GetOverseer().FullName;
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "hidden" })) { /*Html.AntiForgeryToken();*/ }

            <ul class="nav navbar-nav navbar-left">
                <li class="page-title">
                    <h2>
                        @ViewBag.Title.ToUpper() @*<small>@ViewBag.SubTitle</small>*@
                    </h2>
                </li>
                @*<li class="">
                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group col-md-3">
                                <input type="text" class="form-control " placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                         </div>
                    </div>
                </li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right">


                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="/Content/images/img.jpg" alt="">@user.GetFullName()
                        <span class=" fa fa-angle-down"></span>
                    </a>

                    <ul class="dropdown-menu dropdown-usermenu pull-right">

                        <li><a href="@Url.Action("Index", "Manage", routeValues: new { title = "Manage" })"> Profile</a></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>

                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        @*<i class="fa fa-envelope-o"></i>
                <span class="badge bg-green">6</span>*@@subSectionName
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                        <a>
                            <span class="time">Sub-Section: @subSectionName</span>
                            <hr />
                            <span class="message">Overseer: @subSectionOverseer</span>
                            <span class="message">No. of Sub-Zones: @subSection.SubZones.Count()</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="time">Section: @sectionName</span>
                            <hr />
                            <span class="message">Overseer: @sectionOverseer</span>
                            <span class="message">No. of Sub-Sections: @sectionn.SubSections.Count()</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="time">Department: @department.Name</span>
                            <hr />
                            <span class="message">Overseer: @departmentOverseer</span>
                            <span class="message">No. of Sections: @department.Sections.Count()</span>
                        </a>
                    </li>
                </ul>
                </li>



            </ul>
            }
</nav>
    </div>
</div>

<!--End Top Menu-->
