﻿@model EcmsModels.DataModels.ElectricityLevelCheck

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ElectricityLevelCheck</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ElectrictyMeter.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectrictyMeter.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Units)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Units)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
