﻿@model EcmsModels.DataModels.ElectricityRecharge

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ElectricityRecharge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ElectricityTokenIssue.ElectricityPurchaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricityTokenIssue.ElectricityPurchaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectrictyMeter.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectrictyMeter.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsBefore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsBefore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsAfter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsAfter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
