﻿@model EcmsModels.DataModels.ElectricityRecharge

@{
    ViewBag.Title = "Electricity Recharge Details";
}

<div>
    @*<h4>@ViewBag.Title</h4>*@
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" }) |
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElectrictyMeter.Site.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElectrictyMeter.Site.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeterId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeterId)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.ElectricityTokenIssue.ElectricityPurchaseId)*@ Request Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricityTokenIssue.ElectricityPurchaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectrictyMeter.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectrictyMeter.AccountNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitsBefore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsBefore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsAfter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsAfter)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.UnitsAfter)*@ Change
        </dt>

        <dd>
            @{ var Change = Model.UnitsAfter - Model.UnitsBefore; @Html.DisplayFor(modelItem => Change) }
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ElectricityTokenIssue.ElectricityPurchases.EnergyBought)*@ Units Bought
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElectricityTokenIssue.ElectricityPurchases.EnergyBought)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElectricityTokenIssue.ElectricityPurchases.TotalPaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElectricityTokenIssue.ElectricityPurchases.TotalPaid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
