﻿@model IEnumerable<EcmsModels.DataModels.ElectricityRecharge>

@{
    ViewBag.Title = "Electricity Recharges";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectrictyMeter.Site.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeterId)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ElectricityTokenIssue.ElectricityPurchaseId)*@ Request Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsBefore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsAfter)
        </th>
        <th>
            Change
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ElectricityTokenIssue.ElectricityPurchases.EnergyBought)*@ Units Bought
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityTokenIssue.ElectricityPurchases.TotalPaid)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectrictyMeter.Site.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectricityTokenIssue.ElectricityPurchaseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsBefore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsAfter)
        </td>
        <td>
            @{ var Change = item.UnitsAfter - item.UnitsBefore; @Html.DisplayFor(modelItem => Change) }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectricityTokenIssue.ElectricityPurchases.EnergyBought)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectricityTokenIssue.ElectricityPurchases.TotalPaid)
        </td>
        <td>
            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" })
        </td>
    </tr>
}

</table>
