﻿@model EcmsModels.DataModels.FuelInventory

@{
    ViewBag.Title = "Inventory Item Details";
}

<div>
    @*<h4>@ViewBag.Title</h4>
        <hr />*@
    <div>
        @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" }) |
        @Html.ActionLink(" ", "Edit", new { sourceId = Model.FuelSourceId, fuelTypeId = Model.FuelTypeId }, new { @class = "fa fa-pencil" })
    </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuelSource.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelSource.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @{ var capacity = Model.Capacity.ToString("N0");  @Html.DisplayFor(model => capacity) }
        </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentQuantity)
            </dt>

            <dd>

                @{ var currentQuantity = Model.CurrentQuantity.ToString("N0"); @Html.DisplayFor(model => currentQuantity) }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </dt>

            <dd>
                @{ var reorderLevel = Model.ReorderLevel.ToString("N0"); @Html.DisplayFor(model => reorderLevel) }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReorderTriggered)
            </dt>

            <dd>
                @Html.CheckBoxFor(model => model.ReorderTriggered, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Disabled)
            </dt>

            <dd>
                @Html.CheckBoxFor(model => model.Disabled, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

        </dl>
</div>
