﻿@model IEnumerable<EcmsModels.DataModels.FuelInventory>

@{
    ViewBag.Title = "Inventory Listing";
}

@*<h4>@ViewBag.Title</h4>*@

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FuelSource.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderTriggered)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Disabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FuelSource.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType.Name)
        </td>
        <td>
            @{ var CurrentQuantity = item.CurrentQuantity.ToString("N0"); @Html.DisplayFor(modelItem => CurrentQuantity) }
        </td>
        <td>
            @{ var capacity = item.Capacity.ToString("N0"); @Html.DisplayFor(modelItem => capacity)}
        </td>
        <td>
            @{ var ReorderLevel = item.ReorderLevel.ToString("N0"); @Html.DisplayFor(modelItem => ReorderLevel) }
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.ReorderTriggered, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
        </td>
        @*<td>
            @Html.CheckBoxFor(modelItem => item.Disabled, new { @class = "js-switch", @data_switchery = "true", @style = "display: none;", @readonly = "true" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { sourceId = item.FuelSourceId, fuelTypeId = item.FuelTypeId }) |*@
            @Html.ActionLink(" ", "Details", new { sourceId = item.FuelSourceId, fuelTypeId = item.FuelTypeId }, new { @class = "fa fa-search-plus" }) | 
            @Html.ActionLink("  ", "Edit", new { sourceId = item.FuelSourceId, fuelTypeId = item.FuelTypeId }, new { @class = "fa fa-pencil" })

        </td>
    </tr>
    }

</table>
