﻿@model IEnumerable<EcmsModels.DataModels.SiteElectricityMeterAssignmentHistory>

@{
    Layout = "../Shared/_ReportsLayout.cshtml";
    ViewBag.Title = "Meter Assignment History";
}

@*<h4>@ViewBag.Title</h4>*@
<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "fa fa-plus" })
</p>

<table class="display" style="width:100%" id="report" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAssigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRecalled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecalledBy)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ElectrictyMeter.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Site.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.DateAssigned)
                </td>
                <td>
                    @{ var AssignedBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(item.AssignedBy); var Assignor = AssignedBy.FullName + " <" + AssignedBy.Email + ">"; @Html.DisplayFor(modelItem => Assignor) }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRecalled)
                </td>
                <td>
                    @{ if (item.RecalledBy != null)
                        {
                            var RecalledBy = new EcmsModels.DataModels.EcmsDbContext().Users.Find(item.RecalledBy); var Recaller = RecalledBy.FullName + " <" + RecalledBy.Email + ">"; @Html.DisplayFor(modelItem => Recaller);
                        }
                    }
                </td>
                @*<td>
                    @Html.ActionLink("  ", "Details", new { siteId = item.SiteId, meterId = item.MeterId, dateAssigned = item.DateAssigned.ToString("yyyy/MM/dd HH:mm:ss.fff") }, new { @class = "fa fa-search-plus" })
                </td>*@
            </tr>
        }
    </tbody>
</table>
