﻿@model EcmsModels.DataModels.Drawdown

@{
    ViewBag.Title = "Drawdown Details";
}

<div>
    @Html.ActionLink(" ", "Index", null, new { @class = "fa fa-arrow-left" })
</div>
<br />
<div>
    <table class="table">
        <tr>
            <th>Request Number</th>
            <th>Department</th>
            <th>Section</th>
            <th>Sub-Section</th>
            <th>Drawn By</th>
        </tr>
        <tr>
            <td>
                @Model.Id
            </td>
            @{ 
                var department = new EcmsModels.DataModels.Department().GetById(Model.FuelRequest.DepartmentId).Name;
                <td>@department</td>
                var sectionn = new EcmsModels.DataModels.Section().GetById(Model.FuelRequest.SectionId).Name;
                <td>@sectionn</td>
                var subSection = new EcmsModels.DataModels.SubSection().GetById(Model.FuelRequest.SubSectionId).Name;
                <td>@subSection</td>
            }
                <td>
                    @Model.FuelRequest.Requestor.FullName
                </td>
            </tr>
    </table>
    <hr />
    @if (Model.GeneratorFuelUps.Count() > 0)
    {
        <table class="table">
            <thead>
                Generators
            </thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Site</th>
                <th>Gen Serial Number</th>
                <th>Quantity</th>
                <th></th>
            </tr>

            @foreach (var item in Model.GeneratorFuelUps)
            {
                <tr>
                    <td>
                        @{ var Date = item.Date.ToLongDateString(); @Html.DisplayFor(modelItem => Date) }
                    </td>
                    <td>
                        @{ var Time = item.Date.ToString("hh:mm tt"); @Html.DisplayFor(modelItem => Time) }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Generator.Site.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GeneratorId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                </tr>
            }

        </table>
        <hr />
    }

    @if (Model.VehicleFuelUps.Count() > 0)
    {
        <table class="table">
            <thead>
                Vehicles
            </thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Vehicle</th>
                <th>Vehicle Reg Number</th>
                <th>Quantity</th>
                <th></th>
            </tr>

            @foreach (var item in Model.VehicleFuelUps)
            {

                <tr>
                    <td>
                        @{ var Date = item.Date.ToLongDateString(); @Html.DisplayFor(modelItem => Date) }
                    </td>
                    <td>
                        @{ var Time = item.Date.ToString("hh:mm tt"); @Html.DisplayFor(modelItem => Time) }
                    </td>
                    <td>
                        @{ var vehicle = item.Vehicle.VehicleModel.VehicleMake.Name + " " + item.Vehicle.VehicleModel.Name; @Html.DisplayFor(modelItem => vehicle) }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                </tr>
                            }

        </table>
    }
    </div>
