﻿@model IEnumerable<EcmsModels.DataModels.Drawdown>

@{
    ViewBag.Title = "Inventory Drawdowns";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Time
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelSourceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AvailableQuantity)*@ Total Quantity
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelRequest.Requestor.FullName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @{ var Date = item.Date.ToLongDateString(); @Html.DisplayFor(modelItem => Date) }
        </td>
        <td>
            @{ var Time = item.Date.ToString("hh:mm tt"); @Html.DisplayFor(modelItem => Time) }
        </td>
        <td>
            @{ var fuelSource = new EcmsModels.DataModels.EcmsDbContext().FuelSource.Find(item.FuelSourceId).Name; @Html.DisplayFor(modelItem => fuelSource) }
        </td>
        <td>
            @{ var AvailableQuantity = item.AvailableQuantity.ToString("N0"); @Html.DisplayFor(modelItem => AvailableQuantity) }
        </td>
        <td>
            @{ var TotalQuantity = item.FuelRequest.Quantity.ToString("N0"); @Html.DisplayFor(modelItem => TotalQuantity) }
        </td>
        <td>
            @{ var fullName = item.FuelRequest.Requestor.FullName + " <" + item.FuelRequest.Requestor.Email + ">"; @Html.DisplayFor(modelItem => fullName) }
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DocumentNumber)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" })
            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
        </td>
    </tr>
}

</table>
