﻿@model IEnumerable<EcmsModels.DataModels.FuelInventoryHistory>

@{
    ViewBag.Title = "Historical Balances";
}
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelSource.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @{ var Period = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Period); }@Html.DisplayFor(modelItem => Period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelSource.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink(" ", "Details", new { FuelSourceId = item.FuelSourceId, FuelTypeId = item.FuelTypeId, Year = item.Year, Period = item.Period }, new { @class = "fa fa-search-plus" })
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
